.foto-letra{
    width: 50px;
    height: 50px;
} 
body{
    background-color:#d9dbdb;
}

 .header{
    background-color:#d0f2e7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10px ;
 }

 .header .inicial{
    cursor: pointer;
    margin-right: auto;
 }

 .header .foto .img {
    height: 70px;
    width:auto ;
    transition: all 0.3s;
 }
.header .nav-links{
 list-style: none;  

}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;

}
 .header .nav-links li:hover
 .overlay a:hover{
transform: scale(1.1);

 }
.header .btn button{

    margin-left: 20px;
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background-color:#d9db(32, 68, 56);
    border-radius: 50px;
    cursor:pointer ;
    transition: all 0.3s ease 0s;

}
.header .btn button:hover{
    background-color:black;
    color: #d0f2e7;
    transform: scale(1.1);
}

@media screen and (max-width:800px) {
    .nav-links, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }
   }
/*NAV*/
.header a{
    text-decoration: none;
}
.header .overlay{
    height: 100;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    overflow: hidden;
    transition: all 0.3s ease 0s;  
}  
.header .overlay .overlay-content{
    display: 15px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size:36px ;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: black;
   
   }
   .header .overlay a:hover,
   .header .overlay a:focus{
    color: #d0f2e7;
   } 
   .header .overlay .close{
position: absolute;
top: 20px;
right: 45px;
font-size: 65px;

   }  
   @media screen and (max-width:450px) {
    .header .overlay a{ 
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
   }
   h1 {
    font-family: 'Abril Fatface';
    font-size: 65px;
   }
   h2{
    font-size: 30px;
    font-family: 'Abril Fatface';
   }